.liquid {
	background:#313b31 url('../images/bodybackground.png') repeat-y scroll 50% 0;
	border:2px solid #19301C;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	padding:10px 0;
}
.liquid .previous {
	display:block;
	height:126px;
	width:64px;
	background-image:url('../images/previous.png');
	float:left;
	margin:0;
	padding:0;
}
.liquid .next {
	display:block;
	height:126px;
	width:64px;
	background-image:url('../images/next.png');
	float:right;
	margin:0;
	padding:0;
}
.liquid ul li {
	position: relative;
	width:126px;
	padding:0 2px;
	margin:0;
	-moz-border-radius-bottomleft: 2em;
	border-bottom-left-radius: 2em;
	-moz-border-radius-bottomright: 2em;
	border-bottom-right-radius: 2em;

}
.liquid ul li  img {
width : 80%;
height: auto;
}


.extra_info{
padding: 0px;
margin: 0px;
background:#272727;
  position: absolute;
   z-index: 900;
  display: none;
  width: 15em;
  top: -1em;
  left: 5em;
  border-style: solid;
  border-width: 3px;
  border-color: #272727;
  text-align: left;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
}
.heading  h3{
text-align: center;
line-height .8em;
}
.heading{
background: white;
text-align: left;
font-size: 1.0em;
line-height: 1.0em;
text-decoration: none;
color: black;
font-weight: bold
}

.heading .type {
text-align: left;
}
.heading .tags {
text-align: left;
}
.heading .subtags{
text-align: left;
}
.heading a{
color: #272727;
font-size: 1.0em;
}

a {
line-height: .8em;
text-decoration: none;
color: white;
}
.vid_title{
 width: 80%;
display:block;
clear: both;

   text-decoration: none;
   color: white;
   font-weight:bold;
   font-size: .9em;
   min-height: 2.8em;
   max-height: 4em;
	bottom: 0px;
  text-align: center;
   -moz-border-radius-bottomleft: 1em;
	border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	border-bottom-right-radius: 1em;

	

}
